.assignment-icon {
  display: inline-block;
  width: 45px;
  height: 45px;
  margin-right: 0.7rem;
  text-align: center;
  border-radius: 50%;

  .octicon {
    height: 45px;
    font-size: 22px;
    line-height: 45px;
  }

  background-color: rgba(216, 216, 216, 0.3);
}

.assignment-icon-dark {
  @extend .assignment-icon;
  .octicon {
    fill: black;
  }
}

.assignment-icon-light {
  @extend .assignment-icon;
  .octicon {
    fill: white;
  }
}

.assignment-icon-wrapper {
  display: inline-flex;
}