$darwin_navbar_height: 95px;
$windows_navbar_height: 77px;

.shared-header-navbar {
  background: #5fb27b;
  border-bottom: solid 1px #e3e3e3;
}

.darwin {
  .shared-header-navbar {
    padding-top: 20px;
    height: $darwin_navbar_height;
  }
  .shared-header-spacer {
    height: $darwin_navbar_height;
  }
}
.windows {
  .shared-header-navbar {
    height: $windows_navbar_height;
  }
  .shared-header-spacer {
    height: $windows_navbar_height;
  }
}

.shared-header-toolbar {
  height: 22px;
  position: absolute;
  top: 0;
  width: 100%;
  background: #519869;
  -webkit-app-region: drag;
}

.shared-header-content {
  color: white;
}
