.archive-item-archive-panel-list-container{
  margin-bottom: 100px;
}

.archive-item-archive-panel-spinner {
  height: 25px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.archive-item-archive-panel-progress-bar {
  height: 5px;
}

.archive-item-archive-panel-status {
  margin-bottom: 0.4rem;
  text-align: center;
}

.archive-item-archive-panel-container {
  width: 200px;
  height: 100%;
}

.archive-item-archive-panel-button{
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 4rem;
  padding: 5px 10px;
  font-size: 10px;
  border-radius: 5px;
}

.archive-progress-panel-wrapper {
  height: 70px;
  padding: 10px;
  border-bottom: solid 1px #e3e3e3;
}

.archive-progress-panel-warning-icon {
  color: #ffc107;
}

.archive-progress-panel-success-icon {
  color: green
}